body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden; /* To avoid scrollbars appearing */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el body */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


/* Este código crea un borde que rodea todos los elementos y abarca toda la pantalla */
.main-container
{
    position: relative; /* Para que el pseudo-elemento ::before se posicione respecto al contenedor */
    border: 10px solid gray;
    height: 90vh;
    width: 90vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir borde dentro de las dimensiones del contenedor */
    border-radius: 5px; /* Bordes redondeados exteriores */
    
}

label
{
    color: aliceblue;
}


.main-container .main-container_side
{
    border-left: 2px solid gray;
    height: 87vh;
    width: 22.5vw;
    position: relative;
    bottom: 20vh;
    left: 66vw;
}

.main-container .main-container_header
{
    /* border: 2px solid gray; */
    height: 20vh;
    width: 66.5vw;
    position: relative;
    top: 0vh;
    left: 0vw;
}

#searchButton
{
    position: relative;
    left: -35%;
    top: 35px;
}

#getLocationAutomatally
{
    position: relative;
    left: 5%;
    border: none;
    border-radius: 5px;
}

#temperature, #location
{
    position: relative;
    left: 35%;
    top: 75px;
    color: aliceblue;
    font-size: 35px;
}

#location
{
    color: aliceblue;
}

#date
{
    color: white;
    position: relative;
    left: 0vw;
    top: 7vh;
    font-size: 35px;
}

#time
{
    color: white;
    position: relative;
    left: 50svw;
    top: 0vh;
    font-size: 35px;
}

#myCity
{
    position: relative;
    left: 15%;
    border-radius: 5px;
    border: none;
}


#weather-icon
{
    position: relative;
    left: 35%;
    top: 40%;
}

#weatherDescriptionMain
{
    position: absolute;
    top: 50%;
    color: aliceblue;
    font-size: 35px;
}

.thunderstorm
{
    background-image: url('./istockphoto-1455038582-1024x1024.jpg');
}